In [25]:
# list
# order collection mutable multitype
lst=["abc",1,True,19.3]
# print(lst)
# print(type(lst))

frouts=["apple","banana","kiwi","mango","kiwi"]

frouts.append("gauva")
# print(frouts[0])
# print(frouts[len(frouts)-1])
# print(frouts[-1])
# print(frouts[(len(frouts)-1):0:-1])
# frouts.insert(0,"orage")
# frouts.remove("kiwi")
# popfrouts=frouts.pop()
# print(popfrouts)
index_of_banana=frouts.index("banana")
print(index_of_banana)
print(frouts.count("kiwi"))
print(frouts)

1
2
['apple', 'banana', 'kiwi', 'mango', 'kiwi', 'gauva']

In [31]:
# sort
list1=[1,3,5,2,12,3,56,22,10,8]
list1.sort()
list1.reverse()

list1.clear()
print(list1)

[]

In [ ]:
# slicing list
list1=[1,3,5,2,12,3,56,22,10,8]
print(list1[2:5])
# print reversed
print(list1[::-1])

[5, 2, 12]
[8, 10, 22, 56, 3, 12, 2, 5, 3, 1]

In [36]:
# Iterating on list
list1=[1,3,5,2,12,3,56,22,10,8]
# for l in list1:
#     print(l)

for l,j in enumerate(list1):
    print(l,j)

0 1
1 3
2 5
3 2
4 12
5 3
6 56
7 22
8 10
9 8

In [ ]:
# list comperhansion
list=[]
for i in range(10):
    list.append(i*i)
print(list)

# we can write 
list=[i**2 for i in range(10)]
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
# expression itration condition
temp_list=[]

for i in range(10):
    if i%2==0:
        temp_list.append(i**2)
print(temp_list)

# [n*n for n in range(10) if n%2==0 ]

[0, 4, 16, 36, 64]

In [ ]:
# nasted
list=[]

list1=[1,2,3,4,5]
list2=["a","b","c","d","e"]

# for n in list1:
#     for c in list2:
#         list.append([n,c])

list_comp=[ [n,c] for n in list1 for c in list2]
print(list_comp)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]