In [1]:
print("hello")

hello

In [9]:
print("hellon122===========bnnbbn")
# """ welcome """

hellon122===========bnnbbn

In [ ]:
age=20
if age>20:
    print("age is grater than 20",age)
else:
    print("age is less than 20")
    
num=1+1+\
   2
print(num)

age is less than 20
4

In [14]:
x=2;y=10;z=11
print(x,y,z)

2 10 11

In [15]:
age =32 # interprator will detact data type at runtime 
print(type(age))

<class 'int'>

In [16]:
#type mferance
variable1=10
print(variable1)
variable1="deepak"
print(variable1)

10
deepak

In [17]:
#Name error
a=b

NameError: name 'b' is not defined

In [18]:
if True:
    print("correct outer block 1")
    if False:
        print("incorrect inner block")
    print("correct 2")
print("outside the block")

correct outer block 1
correct 2
outside the block

In [19]:
#variable
#declarition will be at rentime once we give vale besd on
age =23
height=5.10
bolleanVar=True
##printing the variable

print("age ",age)
print("height",height)
print("bool",bolleanVar)

age  23
height 5.1
bool True

In [3]:

height=22.3
print(type(height))
heieight2=str(height)
print(type(heieight2))

<class 'float'>
<class 'str'>

In [5]:
age="25"
print(type(int(age)))

<class 'int'>

In [6]:
age="sdf"
print(int(age))

ValueError: invalid literal for int() with base 10: 'sdf'

In [8]:
x=22.1
print(int(x))
y=12
print(float(y))

22
12.0

In [10]:
age=int(input("enter your age"))
print(type(age),age)

<class 'int'> 43

In [11]:
num1=int(input("enter first number"))
num2=int(input("eter 2nd number "))

print(num1,num2,num1+num2)

23 45 68

In [16]:
#data type
#1 integer
intVar=12
print(type(intVar))

name="deepak"
print(type(name))

is_bool=bool()
print(type(is_bool))

<class 'int'>
<class 'str'>
<class 'bool'>

In [21]:
#commmon error
result="hello"+str(3)
upperResult=result.upper()
print(result)
print(upperResult)

hello3
HELLO3

In [29]:
#Operators
x=3
y=2
res=x**y
print(res)
flore_dev=x//y
print(flore_dev)

9
1

In [ ]:

#Logical operators


x=True
y=False
print(x and y)
print(x or y)
print(not x)

False
True
False

In [33]:
import streamlit as st
import pandas as pd

st.title("My Streamlit App")

df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6]
})

st.write(df)

2025-11-24 23:40:38.166 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-24 23:40:38.166 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-24 23:40:38.168 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-24 23:40:38.171 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-24 23:40:38.173 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-11-24 23:40:38.174 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.