In [ ]:
#controll flow
#if else elef statment

age=2
if age > 20:
    print("age is grater than 20")
elif age ==20:
    print("age is equal to 20")
else:
    print("age is less than 20")

age is less than 20

In [8]:
## even odd -ve

num=int(input("Enter Your Number"))
if num<0:
    print("number is -ve")
elif num %2==0:
    print("number is even")
else :
    print("number is odd")

number is even

In [13]:
# leap year

year=int(input("Enter year"))

if (year % 400==0 ) or (year %4==0 and year%100!=0):
    print("year is leap year")
else :
    print("year is not leap year")

year is leap year

In [21]:
# loops
# for loop

for i in range(1,10,3):
    print("i",i)

myname="deepak kumar"
for i in myname:
    print(i)

i 1
i 4
i 7
d
e
e
p
a
k

k
u
m
a
r

In [25]:
# while loop

count =0;
while  count<=20:
    if count%2==0:
       print(count)
    count=count+1

0
2
4
6
8
10
12
14
16
18
20

In [26]:
# break exit loop pre meture

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [27]:
# continue

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [ ]:
# pass
for i in range(10):
    if i % 2==0:
        pass
    print("i",i)

i 0
i 1
i 2
i 3
i 4
i 5
i 6
i 7
i 8
i 9

In [31]:
# nested loop

for i in range(10):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1
i:3 and j:0
i:3 and j:1
i:4 and j:0
i:4 and j:1
i:5 and j:0
i:5 and j:1
i:6 and j:0
i:6 and j:1
i:7 and j:0
i:7 and j:1
i:8 and j:0
i:8 and j:1
i:9 and j:0
i:9 and j:1

In [32]:
# calculate forst n naturan number sum

n=10
sum=0

count=1
while count<=n:
    sum=sum+count
    count=count+1

print(sum)

55

In [35]:
# prime number 1 to 100

for i in range(1,102):
    if i>1:
        count=0
        for j in range(1,i+1):
            if i%j==0:
                count=count+1
        if count==2:
            print(i ,"is prime number",count)
        else :
            print(i , "is not prime number",count)

2 is prime number 2
3 is prime number 2
4 is not prime number 3
5 is prime number 2
6 is not prime number 4
7 is prime number 2
8 is not prime number 4
9 is not prime number 3
10 is not prime number 4
11 is prime number 2
12 is not prime number 6
13 is prime number 2
14 is not prime number 4
15 is not prime number 4
16 is not prime number 5
17 is prime number 2
18 is not prime number 6
19 is prime number 2
20 is not prime number 6
21 is not prime number 4
22 is not prime number 4
23 is prime number 2
24 is not prime number 8
25 is not prime number 3
26 is not prime number 4
27 is not prime number 4
28 is not prime number 6
29 is prime number 2
30 is not prime number 8
31 is prime number 2
32 is not prime number 6
33 is not prime number 4
34 is not prime number 4
35 is not prime number 4
36 is not prime number 9
37 is prime number 2
38 is not prime number 4
39 is not prime number 4
40 is not prime number 8
41 is prime number 2
42 is not prime number 8
43 is prime number 2
44 is not prime number 6
45 is not prime number 6
46 is not prime number 4
47 is prime number 2
48 is not prime number 10
49 is not prime number 3
50 is not prime number 6
51 is not prime number 4
52 is not prime number 6
53 is prime number 2
54 is not prime number 8
55 is not prime number 4
56 is not prime number 8
57 is not prime number 4
58 is not prime number 4
59 is prime number 2
60 is not prime number 12
61 is prime number 2
62 is not prime number 4
63 is not prime number 6
64 is not prime number 7
65 is not prime number 4
66 is not prime number 8
67 is prime number 2
68 is not prime number 6
69 is not prime number 4
70 is not prime number 8
71 is prime number 2
72 is not prime number 12
73 is prime number 2
74 is not prime number 4
75 is not prime number 6
76 is not prime number 6
77 is not prime number 4
78 is not prime number 8
79 is prime number 2
80 is not prime number 10
81 is not prime number 5
82 is not prime number 4
83 is prime number 2
84 is not prime number 12
85 is not prime number 4
86 is not prime number 4
87 is not prime number 4
88 is not prime number 8
89 is prime number 2
90 is not prime number 12
91 is not prime number 4
92 is not prime number 6
93 is not prime number 4
94 is not prime number 4
95 is not prime number 4
96 is not prime number 12
97 is prime number 2
98 is not prime number 6
99 is not prime number 6
100 is not prime number 9
101 is prime number 2