In [ ]:
# onorder key value paier key will be unique 
dict1={}
dict2=dict()

print(type(dict2))

<class 'dict'>

In [9]:
student={"name":"deepak","age":26,"grade":"A"}
print(student["name"])
# default get method 
print(student.get('age'))
print(student.get('age1'))
print(student.get('age1',"default value if none"))

deepak
26
None
default value if none

In [11]:
# mutable 
print(student)
student["vill"]="t110"
print(student)

{'name': 'deepak', 'age': 26, 'grade': 'A'}
{'name': 'deepak', 'age': 26, 'grade': 'A', 'vill': 't110'}

In [ ]:
# delete key value
del student["age"]
print(student)

{'name': 'deepak', 'grade': 'A', 'vill': 't110'}

In [ ]:
# methods
key=student.keys()
print(key)
val=student.values()
print(val)
# list of tuple
items=student.items()
print(items)

dict_keys(['name', 'grade', 'vill'])
dict_values(['deepak', 'A', 't110'])
dict_items([('name', 'deepak'), ('grade', 'A'), ('vill', 't110')])

In [ ]:

student_copy=student
print(student_copy)

# shallow copy diffrnt memory location 
student_shallow=student.copy()

{'name': 'krish', 'grade': 'A', 'vill': 't110'}

In [27]:
student["name"]="krish"
print(student)
print(student_copy)
print(student_shallow)

{'name': 'krish', 'grade': 'A', 'vill': 't110'}
{'name': 'krish', 'grade': 'A', 'vill': 't110'}
{'name': 'krish', 'grade': 'A', 'vill': 't110'}

In [28]:
student["name"]="rohit"
print(student)
print(student_shallow)

{'name': 'rohit', 'grade': 'A', 'vill': 't110'}
{'name': 'krish', 'grade': 'A', 'vill': 't110'}

In [29]:
# itrate you can itrate over 

for key in student_shallow.keys():
    print(key)

name
grade
vill

In [30]:
for key in student_shallow.values():
    print(key)

krish
A
t110

In [32]:
for key,value in student_shallow.items():
    print(key,value)

name krish
grade A
vill t110

In [35]:
# Nested dict
nested_dic={
    "student1":
    {
        "name":"moh",
        "age":43
    }
    ,
    "student2":
    {
        "name":"vishal",
        "age":43
    }
}

print(nested_dic)

print(nested_dic["student1"]["name"])

{'student1': {'name': 'moh', 'age': 43}, 'student2': {'name': 'vishal', 'age': 43}}
moh

In [37]:
# itrating over nested dict
for st,it in nested_dic.items():
    print(st,it["name"])

student1 moh
student2 vishal

In [42]:
# dict compherenhension

sqr={ i:i*i for i in range(5)}
print(sqr)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [44]:
sqr={ i:i*i for i in range(5) if i%2 ==0}
print(sqr)

{0: 0, 2: 4, 4: 16}

In [46]:
numbers=[1,1,2,3,1,5,5,3,8,9,6,5]
friq={}
for it in numbers:
    if it in friq:
        friq[it]=friq[it]+1
    else:
        friq[it]=1
print(friq)

{1: 3, 2: 1, 3: 2, 5: 3, 8: 1, 9: 1, 6: 1}

In [47]:
# merge two dict
dict1={"A":"a","B":"b"}
dict2={"B":"ab","C":"c"}
merge={**dict1,**dict2}
print(merge)

{'A': 'a', 'B': 'ab', 'C': 'c'}